{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1>Genre edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-outline-light mb-2" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <a class="btn btn-outline-light mb-2"  href="{{ path('genre_index') }}">Back to the list</a>
    {% include 'genre/_delete.html.twig' %}
{% endblock %}
