{% extends 'layout/base.html.twig' %}
{% block content %}
    <h1>Genre creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-outline-light mb-2" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-outline-light" href="{{ path('genre_index') }}">Back to the list</a>
{% endblock %}
