{% extends 'base.html.twig' %}

{% block body %}
    <h1>Book creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-dark" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-dark" href="{{ path('book_index') }}">Back to the list</a>

{% endblock %}
