{% extends 'layout/base.html.twig' %}

{% block content %}
    <h1>Author creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-outline-light mb-2" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-outline-light" href="{{ path('author_index') }}">Back to the list</a>

{% endblock %}
